.form-style-5{
    max-width: 850px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
    float: center;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}

.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.number {
    background: #cc0025;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"],
.form-style-5 input[type="reset"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #cc0025;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 30%;
    border: 1px solid rgb(217, 0, 38);
    border-width: 1px 1px 1px;
    margin-bottom: 10px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #fff;
    color: #cc0025;
    font-family: Georgia;
}

.form-style-5 label {
    font-size: 1em;
    color: black;
}

.form-style-5 textArea {
    max-width: 600px;
    background: #e8eeef;
}


.form-style-5 file {
    max-width: 1200px;
}

.form-style-5 input, 
.form-style-5 select {
    transition:all linear 0.5s;
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 30%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 10px;
  }
  
  .form-style-5 input.ng-invalid {
    color:white;
    background: #cc0025;
  }
  
  .form-style-5 input.textarea:focus{
    background: #d2d9dd;
}


.form-control:focus {  
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}


.ausencias {
    display: inline-block;
    float: left;
}

.ausenciasTable {
    display: inline-block;
    float: left;
}

.btn-login {
  color: #fff;
  background-color: #ef3232;
  border-color: #d43f3a;
}

.btn-login:focus,
.btn-login.focus,
.btn-login:hover{
  color: #fff;
  background-color: #c9302c;
  border-color: #d32f2a;
}
