<div class="form-style-5">
    <legend><span class="number">1</span>Nova Ausência</legend>
    <form action="#" class="form-style-5">
        <div class="ausDetail">
            <label for="tpAus">Tipo Ausência:</label>
            <select class="comboAus"><option>badjoras do modem</option></select><br>
            <label for="tpAus">Assinalar como férias:</label>
            <input type="checkbox" /><br>
        </div>
        <div class="ausDetail">
            <label for="dtIni">Data Inicio:</label>
            <input class="dateTime" type="datetime-local" />
            <label for="dtFim">Data Fim:</label>
            <input class="dateTime" type="datetime-local" />
        </div>
        <div class="ausDetail">
            <label for="tpAus">Observações:</label>
            <textarea class="textArea"></textarea><br>
        </div>
        <br>
        <div class="ausDetail">
            <label for="tpAus">Anexo Doc.:</label>
            <button id="fileupload-example-5">
                <input type="file">
                <span>Upload</span>
            </button>
        </div>
        <input type="submit" /><input type="reset" />
    </form>

    <legend><span class="number">2</span>Historico</legend><br>
    <table>
        <tr>badjoras do modem1 </tr>
        <td>badjoras do modem2</td>
        <td>badjoras do modem3</td>
    </table>
</div>