<div class="ausencias">
    <span class="number">1</span>Ausencias
    <form action="#" class="form-style-5">
        Data Inicio: <input type="text" ng-model="$ctrl.dados.dataEmissaoDoc" />
        Hora Inicio: <input type="time" /><br>
        Data Fim: <input type="date" />
        Hora Fim: <input type="time" /><br>
        Tipo Ausência: <select><option>badjoras do modem</option></select><br>
        Assinalar como férias: <input type="checkbox" /><br>
        Observações: <textarea ng-model="$ctrl.dados.nome"></textarea><br>
        Anexo Doc.: <input type="file" /><br>
        <input type="submit" /><input type="reset" />
    </form>
</div>
    
<div class="ausenciasTable">
    <span class="number">2</span>Historico
    <table>
        <tr>badjoras do modem</tr>
        <td>badjoras do modem</td>
        <td>badjoras do modem</td>
    </table>
</div>